<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/nav.js"></script>
</head>
<body class="profile-contacs">
    <h1 class="info-contacts">Thông Tin Cá Nhân<h1>
    <div >
        <img src="../img/bao2.jpg" alt="Ảnh đại diện" class="avatar">
        <div class="profile-info">
            <h1>NGUYỄN HOÀI GIA BẢO</h1>
            <p class="job-title">Thực Tập Sinh - Backend Developer</p>
        </div>
    </div>
        <section>
            <h2>THÔNG TIN LIÊN HỆ</h2>
            <ul>
                <li>Email: nguyenhoaigiabao.bt@gmail.com</li>
                <li>SĐT: 03872279379</li>
                <li>Địa chỉ: 178/5A4 Trường Chinh, Đông Hưng Thuận, Quận 12, HCM</li>
            </ul>
        </section>
</body>
</html>