<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/nav.js"></script>
</head>

<body>
    <aside class="sidebar">
        <section>
            <h2>THÔNG TIN LIÊN HỆ</h2>
            <ul>
                <li>Email: nguyenhoaigiabao.bt@gmail.com</li>
                <li>SĐT: 03872279379</li>
                <li>Địa chỉ: 178/5A4 Trường Chinh, Đông Hưng Thuận, Quận 12, HCM</li>
            </ul>
        </section>
        <section>
            <h2>KỸ NĂNG</h2>
            <div>
                <h3>Ngôn ngữ lập trình</h3>
                <ul>
                    <li>Python</li>
                    <li>Java</li>
                    <li>C++</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </div>
            <div>
                <h3>Cơ sở dữ liệu</h3>
                <ul>
                    <li>MySQL</li>
                    <li>MongoDB</li>
                </ul>
            </div>
            <div>
                <h3>Kỹ năng khác</h3>
                <ul>
                    <li>RESTful API</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
        </section>
    </aside>
</body>
</html>