<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/nav.js"></script>
</head>
<body >
    <div class="products-content">
        
        <section class="projects">
            <article class="project">
                <div class="project-header">
                    <h3>TECHZONE</h3>
                    <h3>02/2025 - 03/2025</h3>
                </div>
                <div class="project-meta">
                    <span>Team Leader</span>
                    <span>2 Developer</span>
                </div>
                <div>
                    <h4>Công nghệ sử dụng: </h4>
                    <ul>
                        <li>NodeJS, ExpressJS, VueJS, MongoDB</li>
                    </ul>
                    <h4>Backend Developer:</h4>
                    <ul>
                        <li>Thiết kế cấu trúc project backend rõ ràng theo mô hình MVC.</li>
                        <li>Tạo các schema bằng Mongoose cho các collections.</li>
                        <li>Xây dựng hệ thống API mô hình RESTful của các chức năng quan trọng.</li>
                        <li>Thực hiện các chức năng CRUD cho các collections.</li>
                        <li>Thực hiện xác thực người dùng với JWT.</li>
                        <li>Kiểm thử các API bằng Postman.</li>
                        <li>Link project: https://github.com/NguyenHoaiGiaBao/Store </li>
                    </ul>
                </div>
            </article>
            <article class="project">
                <div class="project-header">
                    <h3>FASTFOOD</h3>
                    <h3>03/2025 - 04/2025</h3>
                </div>
                <h4>FullStack Developer:</h4>
                <ul>
                    <li>Thiết kế và triển khai kiến trúc Microservices với Spring Boot.</li>
                    <li>Xây dựng các dịch vụ RESTful: quản lý món ăn, đơn hàng, người dùng.</li>
                    <li>Sử dụng Spring Data JPA kết nối cơ sở dữ liệu Xampp.</li>
                    <li>Xây dựng hệ thống API mô hình RESTful của các chức năng quan trọng.</li>
                    <li>Tích hợp JWT cho xác thực người dùng và phân quyền truy cập.</li>
                    <li>Cấu hình project bằng Maven.</li>
                    <li>Kiểm thử các API bằng Postman.</li>
                    <li>Link project: https://github.com/NguyenHoaiGiaBao/storespringboot</li>
                </ul>
            </article>
        </section>
    </div>
</body>
</html>